<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{song.songName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>{{song.songName}}</ion-card-header>
    <ion-card-content>
      <strong>Artista: {{song.artistName}}</strong>
      <p>Album: {{song.albumName}}</p>
      <p>Descripcion: {{song.songDescription}}</p>
    </ion-card-content>
    <ion-button expand="block"  (click)="deleteSong()"> Eliminar Cancion </ion-button>
  </ion-card>
</ion-content>
<!-- <ion-content>
  <h3>Artista</h3>
  <p> La canción {{ song.songName }} fue escrita por el autor {{song.artistName}}</p>

  <h3>Album</h3>
  <p>Esta canción pertenece al album {{song.songName }} </p>

  <h3>Descripción</h3>
  <p>{{ song.songName }}   </p>

  <ion-button expand="block"  (click)="deleteSong()"> Eliminar Cancion </ion-button>

  </ion-content> -->
