<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{song.songName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>{{song.songName}}</ion-card-header>
    <ion-card-content>
      <strong>Artista: {{song.artistName}}</strong>
      <p>Album: {{song.albumName}}</p>
      <p>Descripcion: {{song.songDescription}}</p>
    </ion-card-content>
    <section style="text-align:center">
      <ion-button shape="round" fill="outline" size="small" (click)="deleteSong()"> Eliminar </ion-button>
      <ion-button shape="round" fill="outline" size="small" color="warning" (click)="updateSong(song)"> Modificar
      </ion-button>
    </section>
  </ion-card>
</ion-content>
