<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createRecordingForm" (submit)="createRecording()">
    <ion-item>
      <ion-label stacked>Nombre:</ion-label>
      <ion-input formControlName="nameRedording" type="text" placeholder="Nombre de la Grabación"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Melodia:</ion-label>
      <ion-input formControlName="typeOFMelody" type="text" placeholder="Tipo de melodia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cabina:</ion-label>
      <ion-input formControlName="numberOfCabins" type="number" min="0" placeholder="Numero de cabina"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Propietario:</ion-label>
      <ion-input formControlName="owner" type="text" placeholder="Propietario"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Agregar</ion-button>
    <ion-button expand="block" routerLink="/home">Listado</ion-button>
  </form>
</ion-content>
