<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createSongForm" (submit)= "createSong()">
    <ion-item>
      <ion-label stacked>Cancion:</ion-label>
      <ion-input formControlName="songName" type="text" placeholder="Nombre de la Cancion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Artista:</ion-label>
      <ion-input formControlName="artistName" type="text" placeholder="Nombre del Artista"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Album:</ion-label>
      <ion-input formControlName="albumName" type="text" placeholder="Nombre del Album"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Descripcion:</ion-label>
      <ion-input formControlName="songDescription" type="text" placeholder="Descripcion"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Agregar</ion-button>
    <ion-button expand="block" routerLink="/home">Listado</ion-button>
  </form>
</ion-content>
